doctype html
html(lang='en')
  head
    title Jide Upload
    link(rel='stylesheet', href='/public/stylesheets/reset.css')
    link(rel='stylesheet', href='/public/stylesheets/index.css')
    link(rel='stylesheet', href='/public/util/util.css')
    link(rel='stylesheet', href='/public/lib/jquery.plupload.queue/css/jquery.plupload.queue.css')
    script(type='text/javascript' src='/public/lib/jquery.min.js')
    script(type='text/javascript' src='/public/lib/particles.min.js')
    script(type='text/javascript' src='/public/lib/aws-sdk-2.1.12.min.js')
    script(type='text/javascript' src='/public/lib/plupload.full.min.js')
    script(type='text/javascript' src='/public/lib/jquery.plupload.queue/jquery.plupload.queue.min.js')
    script(type='text/javascript' src='/public/lib/qiniu.min.js')
    script(type='text/javascript' src='/public/util/util.popAlert.js')
    script(type='text/javascript' src='/public/util/util.input.js')
  body
    block content
