doctype html
html(lang='en')
  head
    title Jide Upload
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/util/util.css')
    link(rel='stylesheet', href='/lib/jquery.plupload.queue/css/jquery.plupload.queue.css')
    script(type='text/javascript' src='/lib/jquery.min.js')
    script(type='text/javascript' src='/lib/particles.min.js')
    script(type='text/javascript' src='/lib/aws-sdk-2.1.12.min.js')
    script(type='text/javascript' src='/lib/plupload.full.min.js')
    script(type='text/javascript' src='/lib/jquery.plupload.queue/jquery.plupload.queue.min.js')
    script(type='text/javascript' src='/lib/qiniu.min.js')
    script(type='text/javascript' src='/util/util.popAlert.js')
    script(type='text/javascript' src='/util/util.input.js')
  body
    block content
