extends layout

block content
  div(class='wrapper' id='J_Wrapper')

    div(class='content-wrapper login-wrapper clearfix' id='J_loginWrapper')
      h1(class='login-title-h1') Login as an Uploader
      h2(class='login-title-h2') Contact the administrator to get one account
      div(class='login-div' id='J_usernameDiv')
      div(class='login-div' id='J_passwordDiv')
      a(class='login-btn btn-primary fr' id='J_signIn' href='javascript:;') Sign In


  script(type='text/javascript' src='/javascripts/login.js')
