/*
  CSS for Jide Upload
  Latest modified: 2016-02-02 13:10
*/
@font-face {
  font-family: "Roboto_Light";
  src: url("https://dn-cdn-shop-jide-com.qbox.me/jide_upload/B1438229370990_roboto_light.ttf") format("truetype");
}
html, body {
  height: 100%;
}
body {
  font-family: 'Roboto_Light',STHeiti,Arial!important;
  background-color: #fafafa;
  -webkit-font-smoothing: subpixel-antialiased;
}
.wrapper {
  width: 100%;
}
.wrapper .fl {
  float: left;
}
.wrapper .fr {
  float: right;
}
.wrapper .cl {
  clear: both;
}
.content-wrapper {
  width: 100%;
}
.box960 {
  margin: 0 auto;
  width: 960px;
}
.make-hide {
  display: none;
}

/* ====== nav ====== */
.content-nav {
  padding: 50px 0 0;
  width: 100%;
  height: 120px;
  background-color: #62aac3;
}
.content-nav-inner {
  position: relative;
  height: 100%;
}
.content-title-h1 {
  margin: 0px;
  font-size: 30px;
  color: #fff;
}
.content-title-h2 {
  margin-top: 15px;
  font-size: 16px;
  color: #e5e5e5;
  font-weight: normal;
}

/* user dropdown menu */
.content-user {
  position: relative;
  display: block;
  margin-top: 28px;
  padding-right: 20px;
  color: #f1f3f5;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.content-user:hover {
  text-decoration: none;
  color: #fff;
}
.user-icon-drop {
  position: absolute;
  right: 0px;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url('/lib/drop_down_arr.png') no-repeat;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.user-dropdown {
  display: none;
  position: absolute;
  right: 0px;
  top: 20px;
  width: 148px;
  border: 1px solid #62aac3;
  border-radius: 4px;
  overflow: hidden;
}
.user-funcbtn {
  padding: 0 10px;
  color: #62aac3;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  text-align: right;
  background: #fff;
  border-bottom: 1px solid #eee;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.user-funcbtn.lastbtn {
  border-bottom: none;
}
.user-funcbtn:hover {
  background: #62aac3;
  color: #fff;
}

/* ====== main ====== */
.content-main {
  width: 100%;
}
.files-present {
  padding: 50px 0;
}
.files-recent {
  padding: 0 0 200px;
}
.up-clear-recent {
  float: right;
  font-size: 12px;
  color: #62aac3;
  cursor: pointer;
}
.up-clear-recent:hover {
  color: #999;
  text-decoration: underline;
}
.content-main-copyright {
  margin: 0px auto;
  padding: 50px 0;
  border-top: 1px solid #eee;
}
.content-main-copyright p {
  text-align: center;
  font-size: 14px;
  line-height: 1.5em;
  color: #999;
}

.up-txt {
  margin: 10px 0;
  font-size: 16px;
  color: #666;
}
/* plup container */
.plup-container {
  margin: 0px auto;
  width: 100%;
}
.plup-filepicker {
  margin: 50px auto;
  width: 200px;
  height: 50px;
  background-color: #62aac3;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.plup-filepicker:hover {
  background-color: #fff;
  border: 2px solid #62aac3;
  text-decoration: none;
  color: #62aac3;
}
.plup-empty {
  margin: 0 auto;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.plup-filelist {
  display: none;
  margin: 0 auto;
  border: 1px solid #62aac3;
  border-radius: 4px;
  background-color: #fff;
  border-bottom: none;
  overflow: hidden;
}
.plup-filelist div.uploading {
  width: 100%;
  height: 160px;
  background-color: #eee;
  border-bottom: 1px solid #62aac3;
}
.plup-filelist div.uploading span {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 160px;
  color: #62aac3;
  opacity: .8;
}
.plup-filelist div.uploaded {
  position: relative;
  width: 100%;
  height: 130px;
  padding: 15px 0;
  background-color: #fff;
  border-bottom: 1px solid #62aac3;
}
.uploaded-close {
  position: absolute;
  display: none;
  top: 8px;
  right: 8px;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url("/lib/icon_close.png") no-repeat;
  opacity: 0.3;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.uploaded-close:hover {
  opacity: 1;
}
.uploaded-left {
  float: left;
  width: 13.5%;
  height: 100%;
  border-right: 1px dashed #62aac3;
  overflow: hidden;
}
.uploaded-left img {
  display: block;
  margin: 20px auto 0;
  border: none;
}
.uploaded-right {
  float: right;
  width: 84%;
}
.uploaded-right p {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #666;
}
.uploaded-right p a {
  color: #62aac3;
}
.uploaded-right p a:hover {
  color: #333;
  text-decoration: underline;
}
.uploaded-right p a.aws_del {
  padding-left: 10px;
  font-size: 12px;
  color: #f33;
  cursor: pointer;
}
.uploaded-right p a.aws_del:hover {
  text-decoration: underline;
  font-weight: bold;
}
.up-warn {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
  color: #f33;
}
/* styles for recent uploaded files */
.plup-recent {
  margin: 10px auto 0;
  padding: 10px 0;
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
  border-radius: 4px;
}
.plup-recent p.nofile {
  text-align: center;
  line-height: 30px;
  color: #c0c0c0;
  font-size: 12px;
}
.recent-item {
  display: block;
  padding: 0 10px;
  height: 28px;
  background-color: none;
  overflow: hidden;
}
.recent-item.active {
  background-color: #fff;
}
.recent-ip, .recent-url {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 28px;
}
.recent-ip {
  color: #62aac3;
}
.recent-url {
  margin-left: 15px;
  color: #666;
}
.recent-url:hover {
  color: #62aac3;
  text-decoration: underline;
}
.recent-time {
  display: block;
  float: right;
  font-size: 12px;
  line-height: 28px;
  color: #777;
  text-decoration: none;
}

/* login styles */
.login-wrapper {
  margin: 0 auto;
  padding: 150px 0;
  width: 25%;
}
.login-div {
  margin: 10px 0;
}
.login-title-h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 20px;
  color: #62aac3;
}
.login-title-h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

/* Styles attach to user levels */
.J_attachToLevel {
  display: none;
}

/* Styles for prompt */
.change-pw-prompt input {
  margin: 15px 0;
}
.pop-txt {
  margin: 24px 0 10px 0;
  font-size: 16px;
  color: #666;
}
.pop-radios label {
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
}
.pop-radio {
  margin-top: 3px;
}
